<html>
    <head>
        <title> Contatos</title>
    </head>
    <body>
        <a href="https://5000-jeffcursos-blog-4ncpcodi8rf.ws-us54.gitpod.io/"> Página Inicial </a>
        <h1 align = "center"> Comandos para enviar arquivos para githut</h1>
        <h1 align = "center"> Precisa parar a execução do servidor antes</h1>
        <h2> git add . Prepara para enviar para githut</h2>
        <h2> git commit -m "descrições" Crias as descrições</h2>
        <h2> git push Envia para github </h2>
        <ol>

        
        </ol>
    </body>
</html>